.navegadorPrincipal{
  width: auto;
  height: 120px;
  background-color: #0263B5;
}
.galeriadeImg{
  border: 1px solid #FDF2E9
  width:auto;
  height: 300px;
  background: #FDF2E9
}
.ConteniPrincipal{
  width: auto;
  height: 1000px;
}
.informacion{
  border: 1px solid #ebebeb
  width:auto;
  height: 500px;
  background-color: #ebebeb
}
.img1{
  width: 300px;
}

*{
  margin: 0;
  padding: 0;
}

.flexslider{
  width: 100%;
  position: relative;
}

.slides{
  overflow: hidden;
}

.slides img{
  width: 100%;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
   margin: 0;
   padding: 0;
  list-style: none;
}

.flex-control-nav{
width: 100%;
  text-align: center;
}

.flex-control-nav li{
display: inline-block;
margin: 0 6px;
}

.flex-control-nav li a{
display: block;
background: #1851AA;
width: 12px;
height: 12px;
border-radius: 12px;
text-indent: -9999px;
}

.flex-control-nav li a:hover{
background: #4AACE3;
}

.flex-control-nav li a.flex-active{
  background: #4AACE3;
}
